<script>
$("#topbar").children("li").eq(1).addClass('active');
$("#topbar").children("li").eq(0).removeClass('active');
$("#topbar").children("li").eq(2).removeClass('active');
</script>
<div style="height:100px;"></div>
<div class="bycleInfo" ng-controller="bycleinfoCtrl">
<div class="container">
<div class="row">
<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">搜索</button>
      </span>
    </div>
</div>
</div>
<div class="row" style="padding-top:10px">
   <div class="col-xs-6 col-md-3" ng-repeat="bycle in bycleList track by bycle.id"><div style="padding-top:20px;">
       <div><img class="img-responsive" src="{{bycle.src}}" width="100%" heught="auto" alt="loading...">
       <div ng-bind="bycle.desc" style="color:black;height:100px;overflow: hidden;text-overflow: ellipsis;text-overflow: -o-ellipsis-lastline;display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient: vertical;"></div><div ng-bind="bycle.price" style="color:red;display:inline-block;"></div>
       <button type="button" class="btn btn-primary btn-xs" style="float:right;" ng-click="rentTo(bycle.id)">我要租</button>
       </div></div></div>
</div>
 <div style="text-align:center;padding-top:40px;"><button type="button" class="btn btn-default btn-block" ng-click="loadmore()">加载更多。。。</button></div>
</div></div>