<script>
$("#selfbar").children("li").eq(1).addClass('active');
$("#selfbar").children("li").eq(0).removeClass('active');
$("#selfbar").children("li").eq(2).removeClass('active');
$("#selfbar").children("li").eq(3).removeClass('active');
</script>
<hr style="border:solid white 2px;"></hr> 
<div class="row" ng-controller="selfbycleinfoCtrl">
	<div class="col-xs-12" style="margin-bottom:50px;text-align:center;">
		<div class="row"><h3><strong>我的车辆列表</strong></h3></div>
		<div class="row" ng-repeat="bycle in selfbycles.bycleList track by bycle.id">
		<div class="col-xs-4">
       	<div><img class="img-responsive" ng-src="{{bycle.src}}" width="100%" height="auto" alt="loading...">
       	</div></div>
       	<div class="col-xs-8">
       	<div ng-bind="bycle.desc" style="color:black;height:60px;overflow: hidden;text-overflow: ellipsis;text-overflow: -o-ellipsis-lastline;display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient: vertical;"></div>
       	<div ng-bind="bycle.price" style="color:red;display:inline-block;"></div>
       	<button type="button" class="btn btn-primary btn-xs" style="float:right;" ng-click="selfbycles.change(bycle.id)" ng-bind="bycle.state"></button>
       	</div></div>
		<div style="text-align:center;padding-top:40px;">
		<nav>
		  <ul class="pager">
		    <li class="previous"><a ng-click="selfbycles.prePage()">&larr; 上一页</a></li>
		    <li class="next"><a ng-click="selfbycles.nextPage()">下一页 &rarr;</a></li>
		  </ul>
		</nav>
		</div>
	</div>
</div>