<script>
$("#selfbar").children("li").eq(1).addClass('active');
$("#selfbar").children("li").eq(0).removeClass('active');
$("#selfbar").children("li").eq(2).removeClass('active');
</script>
<hr style="border:solid white 2px;"></hr> 
<div class="row">
<div class="col-md-12" style="margin-bottom:50px;text-align:center;">
	<div class="row"><h3><strong>新增车辆</strong></h3></div>
<div class="row" ng-controller="setbycleinfoCtrl">
    	<div class="col-md-4 col-md-offset-4">
    	<form role="form">
    		<div class="form-group col-md-12">
			    <input id="byclepic" type="file" file-model="mypic" accept='image/*' style="display:none" required> 
				<div class="input-append"> 
				<img id="photoCover" alt="预览图片" class="img-responsive" width="100%" heught="auto"/>
				<button class="btn btn-default" type="button" onclick="$('input[id=byclepic]').click();">上传图片</button> 
			</div></div>
			<div class="form-group col-md-12">
				<label for="descBycle">描述：</label>
                <input type="text" class="form-control" ng-model="mydesc" id="descBycle" placeholder="" required>
			</div>
			<div class="form-group col-md-12">
				<label for="priceBycle">价格（RMB/天）：</label>
                <input type="text" class="form-control" ng-model="myprice" id="priceBycle" placeholder="" required>
			</div>
			<div class="col-md-12"><button type="submit" class="btn btn-default" ng-click="grade()">提交</button></div>
		</form>
    </div></div>
</div>
</div>
    <script>
$('input[id=byclepic]').change(function() { 
	setImagePreview();
});
function setImagePreview(){
    var doc="byclepic";
    var preview="photoCover";
    var docObj=document.getElementById(doc);
    var imgObjPreview=document.getElementById(preview);
    if(docObj.files &&docObj.files[0]){
        imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
    }
}
</script>