<div ui-view="topbar"></div>
<div class="signin" ng-controller="signinCtrl">
<div class="container">
<div class="row">	
<div class="col-md-4 col-md-offset-4">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputTel" class="col-sm-3 control-label"><strong style="color:red;">用户名</strong></label>
    <div class="col-sm-9">
      <input type="tel" class="form-control" id="inputTel" placeholder="手机号" ng-model="userInfo.tel"> 
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-3 control-label">&nbsp;邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="inputEmail" placeholder="北邮、QQ、163邮箱等" ng-model="userInfo.email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-3 control-label"><strong style="color:red;">密&nbsp;&nbsp;&nbsp;&nbsp;码</strong></label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword" placeholder="不少于6位的密码" ng-model="userInfo.pwd">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="note">
        <label>红色为必填项</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-6">
      <button type="button" class="btn btn-default" ng-model="userInfo.cid" ng-click="signin()">注册</button>
    </div>
  </div>
</form>
</div></div></div>
</div>
