 <!--导航条-->
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="topbarCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="#"><img alt="BR" src="./src/imgs/brand.jpg"></a></li>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="topbar">
        <li><a href="#/home">首页</a></li>
        <li><a href="#/rent" style="display:inline-block;">我要租车</a></li>
        <li><a href="#/about">关于我们</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{href}}" style="display:inline-block;" ng-bind="userLogin"></a></li>
        <li><a href="http://map.baidu.com/" target="_blank">地图</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">友情链接 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://www.meituan.com/" target="_blank">美团</a></li>
            <li><a href="http://www.dianping.com/" target="_blank">大众点评</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script type="text/javascript" src="./data/session.php"></script>